<% provide(:title, "Edit " + @store.name) %>

<h1>Stores#edit</h1>
<%= form_for(@store) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'input-reg' %>

  <%= f.label :addr_no %>
  <%= f.text_field :addr_no, class: 'input-reg' %>

  <%= f.submit "Edit this store", class: 'button' %>

<% end %>
