<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="grid">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "input-reg" %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "input-reg" %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "input-reg" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "input-reg" %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "input-reg" %>

      <%= f.label :phone, "Phone Number" %>
      <%= f.text_field :phone, class: "input-reg" %>

      <%= f.label :adr_street, "Street Address" %>
      <%= f.text_field :adr_street, class: "input-reg" %>

      <%= f.label :adr_street2, "Street Address 2" %>
      <%= f.text_field :adr_street2, class: "input-reg" %>

      <%= f.label :adr_zip, "Zip Code" %>
      <%= f.text_field :adr_zip, class: "input-reg" %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
