<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
     
      <%= render 'shared/error_messages' %>
      
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Retype your password" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :phone, "Phone Number" %>
      <%= f.text_field :phone %>

      <%= f.label :adr_street, "Street Address" %>
      <%= f.text_field :adr_street %>

      <%= f.label :adr_street2, "Street Address 2" %>
      <%= f.text_field :adr_street2 %>

      <%= f.label :adr_city, "City" %>
      <%= f.select :adr_city, options_for_select([["Olean", "Olean"]]) %>

      <%= f.label :adr_state, "State" %>
      <%= f.select :adr_state, options_for_select([["NY", "NY"]]) %>

      <%= f.label :adr_zip, "Zip Code" %>
      <%= f.text_field :adr_zip %>
      
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
