<% provide(:title, "Place an Order") %>
<div class="row">
  <div class="grid">
    <%= form_for(@order) do |f|%>
      <%= f.label :what_they_want, "What do you want?" %>
      <%= f.text_area :what_they_want, placeholder: "Be as specific as possible" %>

      <%= f.label :where_it_goes, "Where should we take it?" %>
      <%= f.text_field :where_it_goes, placeholder: "Be as specific as possible" %>

      <%= f.submit "Place your order!" %>
    <% end %>
  </div>
</div>
