<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="<%= root_path %>">
      <span class="top">Runner</span>
      <span class="bottom">Deliveries</span>
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        \\\
      </a>

      <div class="trigger">
          <%= link_to "Home", root_path %>
          <%= link_to "Contact", contact_path %>
          <%= link_to "FAQ", faq_path %>
          <% if logged_in? %>
            <%= link_to "Order", "#" %>
            <%= link_to "Profile", profile_path %>
            <%= link_to "Logout", logout_path, method: "delete" %>
          <% else %>
            <%= link_to "Login", login_path %>
          <% end %>
      </div>
    </nav>

  </div>

  <div class="divider"></div>
  <%= render 'shared/flashed_messages' %>
</header>
