<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="<%= root_url %>/">
      <span class="top">Runner</span>
      <span class="bottom">Deliveries</span>
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        \\\
      </a>

      <div class="trigger">
          <%= link_to "Home", root_url %>
          <%= link_to "Order", "#" %>
          <%= link_to "Contact", contact_path %>
          <%= link_to "FAQ", faq_path %>
          <%= link_to "Login", "#" %>

      </div>
    </nav>

  </div>

  <div class="divider"></div>

</header>
