<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Runner Delivery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="page-content">
      <div class="wrapper">
	<%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
